@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yatra+One&display=swap");

@theme {
  --color-primary: #c13d07; /* Deep Orange-Red for titles/CTA */
  --color-secondary: #71473b; /* Brown for accents */
  --color-accent1: #f59a5e; /* Light Orange for highlights/buttons */
  --color-accent2: #bebf9c; /* Sage Green for subtle backgrounds */
  --color-bg: #ffefcc; /* Cream for page background */
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-dance {
  font-family: "Dancing Script", cursive !important;
}

@layer base {
  body {
    font-family: "Poppins", system-ui, sans-serif;
    background-color: #ffffff;
    color: #333333; /* default text color */
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23bebf9c' fill-opacity='0.19' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 80px 88px; /* match SVG dimensions */
  }


 

  button,
  .btn-primary {
    background-color: var(--color-accent1);
    color: white;
  }

  button:hover,
  .btn-primary:hover {
    opacity: 0.9;
  }

  .highlight {
    background-color: var(--color-accent2);
  }
}
